header {
	height: 70px;
	width: 100%;
	border-bottom: 1px #cccccc solid;
}

header .logo {
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	height: 100%;
	margin: auto 0 auto 20px;
}
